@font-face {
    font-family: 'navb';
    src: url(bodoni-mt-regular.ttf);
}
@font-face {
    font-family: 'hero';
    src: url(Gidugu-Regular.ttf);
}
@font-face {
    font-family: 'sattva';
    src: url(moul.ttf);
}

body{
    height:1200px;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0)50%, black),
        url("bg.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-color: black;
}

.outer{
    border:1px solid;
    border-color:rgba(255, 255, 255, 0.3);
    border-radius:15px;
    max-width: 100%;
    flex-shrink: 0;
    padding-top:0px;
    padding-bottom:30px;
    margin-top:60px;
    margin-right:45px;
    margin-left:45px;
    text-align:center;  
    max-height:auto;
}

.nav1{
    border:1px solid;
    border-color:rgba(255, 255, 255, 0.3);
    flex-shrink: 0;
    margin-top:30px;
    text-align:center;  
    width:100%;
}
.navbar{
    text-align: right;
}
.navbar ul{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    align-items:center; 
}
.navbar li{
    float:left;
    font-family:'navb';
    color:white;
    font-size:23px;
    padding-inline: 60px;
    text-align:right;
    padding-top:5px;    
    margin-bottom:-15px;
}
.big-text{
    text-align:left;
    margin-top:200px;   
}
.vec{
    height:23px;   
    display:block;
    margin-top:-177px;  
    margin-left:20px;
}
.big-text h1{
    font-size: 230px;
    text-align: left;
    font-family: 'hero';
    color:white;
    margin: 0;
    margin-left:50px;
    line-height: 0.65;
}
p{
    text-align:left;
    color:white;
    font-size: 160px;
    margin-top:40px;
    margin-left:60px;
    font-family:'sattva';
}
.nav2{
    border:1px solid;
    border-color:rgba(255, 255, 255, 0.3);
    flex-shrink: 0;
    margin-top:15px;
    text-align:center;  
    width:100%;
}
.reg {
    transform: translateY(-50%);
    margin-right:40px;
    margin-top:-220px;

}

.register-btn {
    font-family: 'navb';
    font-size: 30px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:7px;
    padding-left:7px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius:400px;
    text-transform: uppercase;
    cursor: default; /* Ensures it looks static */
    background-color:lightslategray;
}
.reg1{
    margin-right:68px;
    margin-top:-106.5px;
}
.reg1 h1{
    margin-bottom:100px;
    font-family: 'navb';
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    cursor: default; /* Ensures it looks static */
}
